<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
</head>
<body>
    <h1>Add a Project</h1>
    <form action="/add" method='post'>
        Name: <input type="text" name = 'name'><br/>
        Deadline: <input type='date' name='deadline'><br/>
        Description: <textarea name="description" cols="30" rows="10"></textarea><br/>
        <input type="hidden" name="status" value="In Progress">
        <input type="submit" value="Add">
    </form>
</body>
</html>